# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

App/wwwroot/dms/
App/wwwroot/css/
App/wwwroot/js/

# dotenv environment variables file
.env
