@{
    ViewData["Title"] = "Entity Studio";
}

<script>
    window._isEntityStudioApp = true;

    window._AppSetting = {
      UserId: 1,
        RoleId: 1,
        Language: "en-us",
      DateFormat: "DD-MM-YYYY",
      BaseUrl: "@ViewBag.AppRoot",
      ApiUrl: "@ViewBag.AppRoot",
        AppRoot: "@ViewBag.AppRoot",
        DecimalPlaces: 2
    };

    
</script>
<div id="app">..loading</div>