<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <link rel="stylesheet" href="~/lib/antui/antd.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>    
    <div class="container">        
        @RenderBody()
    </div>
    <script src="http://localhost:3000/static/js/bundle.js" asp-append-version="true"></script>
    <script src="http://localhost:3000/static/js/0.chunk.js" asp-append-version="true"></script>
    <script src="http://localhost:3000/static/js/main.chunk.js" asp-append-version="true"></script>
    <script src="http://localhost:3000/main.1adb33cd0541b2533c6b.hot-update.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
