<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <link rel="stylesheet" href="~/lib/antui/antd.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>    
    <div class="container">        
        @RenderBody()
    </div>
    <script src="~/js/0.app.js" asp-append-version="true"></script>
    <script src="~/js/1.app.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
